<div class="small-12 columns"><%= session[:show_hand_message] %></div>
  <% if session[:turn] == "player" %>
  <ul>
    <div class="card"><%= @dealer_hand.value %> <%= @dealer_hand.suit %></div>
  <% else %>
  <ul>
    <% session[:dealer_hand].cards.each do |card| %>
      <div class="card"><%= card.value %> <%= card.suit %></div>
    <% end %>
  <% end %>
  <br>
    Dealer score:<%= session[:dealer_score] %>
  </ul>

<% if session[:turn] == "player" && !session[:bust] && !session[:blackjack] %>
  <form action="/play-game/hit" method="post">
    <button type="submit", name="hit">Hit</button>
  </form>

  <form class="" action="play-game/dealer-turn" method="post">
    <button type="submit", name="stand">Stand</button>
  </form>
<% end %>
<br>
<% if session[:blackjack] %>
  <div class="blackjack">
    You got Blackjack!
    <% unless session[:winner] %>
      <form class="" action="play-game/dealer-turn" method="post">
        <button type="submit", name="stand">Dealer's Turn</button>
      </form>
    <% end %>
  </div>
<% end %>

<% if session[:bust] %>
  <%= session[:bust] %> busted!
  <%= erb(:play_again) %>
<% end %>

<% if !session[:winner].nil?  %>
  <% if session[:winner] == 'player' %>
    <%= session[:name] %> wins!
  <% elsif session[:winner] == 'dealer' %>
    <%= session[:name] %> loses.
  <% else %>
    Push! No winner.
  <% end %>
  <%= erb(:play_again) %>
<% end %>
<br>
<%= session[:name] %>'s cards:
<ul>
  <% session[:player_hand].cards.each do |card| %>
  <div class="card"><%= card.value %> <%= card.suit %></div>
  <% end %>
  <br>
  <%= session[:name] %>'s score: <%= session[:player_score] %>
</ul>
